.index_nav{
    color: white;
}
.about_nav{
    color: #A288E3;;
}
.projects_nav{
    color: white;
}
.experience_nav{
    color: white;
}

.main-about .main-title{
    position:relative;
}

.main-about h1{
    color:white;
    margin-top:3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: calc(100% + 4vw);
    color:#A288E3;
    position: relative;
}


.grid-wrapper {
    position: relative;
	display: grid;
    justify-content: center;
    align-content: center;
	grid-gap: 10px;
    margin-left:15%;
    margin-right:15%;
    grid-template-columns: repeat(3,3fr);
	grid-auto-rows: 230px;
	grid-auto-flow: dense;
    margin-bottom: 6%;

}

.grid-wrapper .g{
    display: flex;
    justify-content: center;
    align-items: stretch;
    transform-style: preserve-3d;
}
/* Main CSS */

.grid-wrapper .g img {
	width: 100%;
    height:100%;
	border-radius: 5px;
    backface-visibility: hidden;    
    transition: 1s;
    position:absolute;
}


.grid-wrapper .g.tall {
	grid-row: span 2;
    transition: 1s;
}

/* Text */

.g  .abt-title{
    color: white;
    padding: 1%;
    font-size: 50px;
    font-style: bold;
    transform: rotatey(0deg);
    transition:1s;
    position: relative;
    backface-visibility: hidden;
}

.abt-back{
    background-color: #A288E3;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotatey(-180deg);
    transition: 1s;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}

.abt-back h3{
    color: white;
    padding: 1%;
    font-size: 50px;
    font-style: bold;
    transform: rotatey(-180deg);
    transition:1s;
    position: relative;
    backface-visibility: hidden;

    
}
.abt-back p{
    font-size: 30px;
    color: white;
    text-align: left;
    padding-left: 4%;
    margin-left: 4%;
    padding-right: 4%;
    margin-right: 4%;
    border-left: 3px solid white;
}







.abt-back a {
    font-size: 50px;
    text-align:center;
    text-decoration: none;
    color:white;
    transition: 1s;
}

.abt-back img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotatey(-180deg);
    transition: 1s;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    
}

/* transition stuff*/

.g:hover img{
    transform: rotateY(-180deg);
}

.g:hover .abt-back h3{
    transform: rotateY(0deg);
}

.g:hover .abt-back{
    transform: rotateY(0deg);
}

.g:hover .abt-title{
    transform: rotateY(-180deg);

}



.g:hover .abt-back img {
    transform:rotatey(0deg)
} 

@media(max-width:988px){

    .grid-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .abt-back p{
    font-size: 26px;
    margin-left: 5%;
    border-left: 3px solid white;
    }
    .grid-wrapper h3{
        font-size: 35px;
    }

    .grid-wrapper .abt-title{
        font-size: 35px;
    }
    .main-about h1{
        font-size: 40px;
    }

}

@media(min-width:1800px){
    .grid-wrapper {
    grid-auto-rows: 300px;
    }
    .abt-back h3{
        font-size: 60px;
    }
    .abt-back p{
        font-size: 40px;
    }
    .main-title h1{
        font-size:90px;
    }

    .g .abt-title{
        font-size: 60px;
    }
    .logo h1 a{
        font-size:60px;
    }
    .nav-links ul li a{
        font-size:30px;

    }
}